@CHARSET "ISO-8859-1";

sup{
	color: red;
}
.ems-list-div{
	display: none;
}

.ui-selectonemenu,.ui-selectcheckboxmenu {
	width: 100% !important;
}

.ui-widget{
	font-size: small !important;
}
.form-control{
	color: #2e6e9e !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger{
	width:auto !important;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield{
	box-shadow:none !important;
}
.ui-inputfield{
	width: 100% !important;
}
.ui-datepicker-title{
	color:black;
	font-size: 12px;
}

.ui-selection-column{
	width:36px!important;
}
.ui-datatable-footer,.ui-datatable-header{
	text-align: left!important;
}


.ui-button{
	text-shadow:none!important;
}
#ajaxProcess,.overlay{
	display: none;
}
/* .ui-messages-info, .ui-message-info{
	color: #fff !important;
	border-radius: 3px !important;
	border-color: #008d4c !important;
	background-color: #00a65a !important;
}
.ui-messages-error, .ui-message-error{
	color: #fff !important;
	border-radius: 3px !important;
	border-color: #d73925 !important;
	background-color: #dd4b39 !important;
}
.ui-messages-warning, .ui-message-warning{
	color: #fff !important;
	border-radius: 3px !important;
	background-color: #f39c12 !important;
	border-color: #e08e0b !important;
} */